.star {
    cursor: pointer;
    height: 25px;
    width: 25px;
    margin: 2px;
    float: left;
    background-color: grey;
    clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
    );
    }
    .star.selected {
    background-color: red;
}

.btn{
    @apply font-bold py-2 px-4 rounded;
}

.btn-blue{
    @apply bg-blue-500 text-white;
}

.btn-blue:hover{
    @apply bg-blue-700;
}

.btn-gray{
    @apply bg-gray-400 text-gray-800;
}

.btn-gray:hover{
    @apply bg-gray-500;
}

.text-primary{
    color: red;
    line-height: 1.25;
}

.tw-input{
    @apply px-4 py-3 border border-gray-400 appearance-none;
}